<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title> Translate Powerpoints </title>
        <!-- <script src="/Ussers/albertzhang/desktop/web_dev/dropzone.js"></script> -->
        <link href="style.css" type="text/css" rel="stylesheet" />
        <style>
            div.hero {
                text-align: center;
            }
        </style>

    </head>

    <body>
        <h1> <center> Translate your Powerpoints </center> </h1>
        <div class="hero">
            <input type="file" id="loadFileXml" title="Pick a Powerpoint">Pick a Powerpoint</input>
        </div>
    </body>

    <script src="aws-sdk.min.js"></script>

    <script>
        var bucketName = 'test-http-post',
            bucketRegion = 'us-west-2',
            IdentityPoolId = 'us-west-2:f0b0917c-128b-4ab6-809b-833ce5e82597';

        AWS.config.update({
          region: bucketRegion,
          credentials: new AWS.CognitoIdentityCredentials({
            IdentityPoolId: IdentityPoolId
          })
        });

        var s3 = new AWS.S3({
          apiVersion: '2006-03-01',
          params: { Bucket: bucketName }
        });

        function redirectToTranslatedPPTX(response){
            window.location.href = 'https://view.officeapps.live.com/op/embed.aspx?src=' + response.url;
        }

        function getTranslatedPPTX(err, data){
            if (!data){
                var data = {
                    Bucket: "test-http-post",
                    Key: "Analytics-May-31st.pptx",
                    Location: "https://test-http-post.s3.us-west-1.amazonaws.com/Analytics-May-31st.pptx",
                    key: "Analytics-May-31st.pptx"
                };
            }

            return fetch(
                new Request(
                    'https://ckc9zgg055.execute-api.us-west-1.amazonaws.com/dev/translate',
                    {
                        method: 'POST',
                        body: JSON.stringify(
                            { url: encodeURIComponent(data.Location) }
                        ),
                        mode: 'cors',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                )
            )
        }

        function autoSubmit(){
            getTranslatedPPTX(null, data).then(redirectToTranslatedPPTX);
        }

        function submitter() {
            var file = fileSelectInput.files[0],
                fileName = file.name;

            s3.upload({
                Key: fileName,
                Body: file,
                ACL: 'public-read'
            }, autoSubmit);
        }

        var fileSelectInput = document.getElementById("loadFileXml");
        fileSelectInput.addEventListener('change', submitter);

        autoSubmit();
        // submitter();
    </script>
</html>
